.list-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

.assignment-card {
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-card {
  padding: 15px;
  border-radius: 8px;
  background-color: transparent; /* 让背景颜色通过 ngStyle 控制 */
}

mat-card h3 {
  margin: 0;
  color: #1976d2;
  text-decoration: none;
}

mat-card h3:hover {
  text-decoration: underline;
}

mat-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}
