<div *ngFor="let assignment of assignments; trackBy: trackByAssignmentNom" 
     (click)="selectAssignment(assignment)"
     [ngStyle]="{ 'background-color': assignment.rendu ? '#d4edda' : '#f8d7da' }"
     class="assignment-item">
  <p>
    Le devoir {{ assignment.nom }} {{ assignment.rendu ? 'a été rendu le' : 'doit être rendu le' }} {{ assignment.dateDeRendu | date: 'dd/MM/yyyy' }}.
  </p>
</div>

<app-assignment-detail 
  *ngIf="selectedAssignment" 
  [assignment]="selectedAssignment" 
  (assignmentDeleted)="onAssignmentDeleted($event)"
  (assignmentUpdated)="onAssignmentUpdated($event)">
</app-assignment-detail>
