<div class="app-container">
  <!-- 侧边栏 -->
  <div class="sidebar" *ngIf="isSidebarActive">
    <nav>
      <a routerLink="/list" routerLinkActive="active" class="nav-link">Liste des devoirs</a>
      <a routerLink="/add" routerLinkActive="active" class="nav-link">Ajouter un devoir</a>
    </nav>
  </div>

  <!-- 主内容 -->
  <div class="content">
    <mat-toolbar>

      <button mat-icon-button (click)="activeMenu()">
        <mat-icon>menu</mat-icon>
      </button>

      <button mat-icon-button (click)="toggleLogin()">
        <mat-icon>{{ authService.isLogged() ? 'logout' : 'person' }}</mat-icon>
      </button>

      <button mat-icon-button (click)="returnHome()">
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar>
  

   
    <!-- 路由出口 -->
    <router-outlet></router-outlet>
  </div>
</div>
